.home {
	margin: 3rem 4rem;
	position: relative;
}

.home__content {
	margin: 0 auto;
	width: 70%;
	max-width: 100rem;
}

.post-list {
	margin: 0 auto;
	margin-top: 1.3rem;
	column-count: 2;
	column-gap: 2rem;
	break-inside: avoid-column;
}

.post-list > :first-child {
	margin-top: 0;
}

.right-bar {
	width: 40%;
	position: absolute;
	right: 0;
	top: 0;
}

@media only screen and (max-width: 945px) {
	.post-list {
		column-count: 1;
	}
}

@media only screen and (max-width: 650px) {
	.right-bar {
		display: none;
	}
	.home__content {
		width: 100%;
		column-count: 1;
	}
}

.button--new-prompt {
	padding: 1rem 3rem;
	background-color: #B669F2;
}
.button--new-prompt:hover {
	background-color: #a553e4;
}


.mantine-Modal-title {
	color: #a553e4;
	font-size: 1.8rem;
	font-weight: bold;
}
input {
	font-size: 1.4rem !important;
	font-family: 'Segoe UI', sans-serif;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #63687b;;
	opacity: 0.6;
	font-size: 1.4rem;
	font-family: 'Segoe UI', sans-serif;
}
.label {
	margin-top: 1.4rem;
	font-weight: 500;
}
.react-tag-input {
	font-size: 1.6rem !important;
	font-family: inherit;
	margin-top: .4rem;
}