.post-detail__info {
	margin-bottom: 2rem;
}

.response--form {
	margin-top: 1rem;
}

.mantine-Dropzone-root {
	position: relative;
}
.dropzone__image{
	display: none;
}
.dropzone__image img {
	position: relative;
	top: 0;
	left: 0;
	
	height: 100%;
	max-height: 400px;
}

.response-list {
	/* display: flex;
	flex-direction: column; */
	margin-top: 2rem;
	columns: 2 5rem;
	column-gap: 2rem;
	/* break-inside: avoid-column; */
}

.response {
	/* width: 23rem; */
	background-color: #F0F0F0;
	border-radius: 6px;
	overflow: hidden;
	break-inside: avoid-column;
	margin-bottom: 2rem;
}

.response__text-content {
	padding: 1.4rem;
}

.response h1 {
	font-size: 1.8rem;
}

.response__image {
	line-height: 0;
}
.response__image img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
}
.noResponse{
	display: flex;
	height: 200px;
	justify-content: center;
	align-items: center;
	background-color:#F0F0F0 ;
	color: #4d4d4d;
	font-size: 14px;
}
.removeImage{
	display: flex;
	align-items: center;
	padding: 3px;
	margin-bottom: 2px;
	
}